
/*label*/
.page-label{
    padding: 2rem 0;
    margin-top: .5rem;
    background: #fff;

}
.page-label .label-img{
    text-align: center;
}
.page-label .label-img:nth-child(1){
    padding-right: 0;
}
.page-label .label-img:nth-child(2){
    padding-left: 0;
}
.page-label .label-img img{
    width: 5.6rem;
    height: 5.6rem;
}
.page-label .label-img p{
    font-size: 1.5rem;
    color: #999999;
    margin: .8rem 0 0 0;
}
/*center*/
.page-center{
    background: #fff;
    margin-top: .5rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    font-size: 16px;
    color: #FF9A63;
    font-weight: bold;
}
.page-center h3{
    font-size: 1.6rem;
    color: #999999;
    margin: 0;
    padding-top: 1rem;
}
.center-info{
    margin-top: 1.5rem;
    padding: .5rem 0;
    border-radius: .4rem;
    box-shadow: 1px 1px 1px 1px #efeff4;
}
.center-info .info-title img{
    width: 3.4rem;
    height: 3.4rem;
    margin-left: 2rem;
}
.center-info .info-num{
    margin-left: 5.2rem;
    margin-top: 1.5rem;
}
.center-info .info-tips{
    font-size: 1.3rem;
    text-align: right;
    margin-right: 3rem;
    font-weight: normal;
}
/*banner*/
.page-banner{
    background: #fff;
    padding: 1.5rem;
    margin-top: .5rem;
}
.page-banner .banner-img{

}
.page-banner .banner-img img{
    width: 100%;
    height: auto;
}

/*modal css*/
#myModal .modal-dialog{
    margin-top: 70%;
}
#myModal .modal-dialog .modal-content{
    width: 75%;
    margin: auto;
}
#myModal .modal-body{
    font-size: 1.5rem;
    color: #888888;
}
#myModal .modal-footer .btn-danger{
    background: none;
    border: none;
    width: 100%;
    font-size: 1.8rem;
    color: #508CF1;
}