.account-horizontal .account-content{
    /*padding: 0 1.5rem;*/
    background: #fff;
    margin-bottom: 3rem;
}
.account-horizontal .account-content .account-group{
    padding: .8rem 0;
    margin: 0 1.5rem;
    border-bottom: 1px solid #e5e5e5;
}
.account-horizontal .account-content .account-group:last-child{
    border-bottom: none;
}
.account-horizontal .account-content .account-group .account-lab{
    font-size: 1.7rem;
    color: #000;
    vertical-align: middle;
    padding: .6rem 0 0 0;
    white-space: nowrap;
}
.account-horizontal .account-content .account-group .account-li{
    padding-left: .5rem;
}
.account-content .account-group .account-li input{
    font-size: 1.7rem;
    border: none;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: #C1C1C1;
    background: none;
}
.account-content .account-group .account-li .code_inp{
    width: 50%;
    float: left;
}
.account-content .account-group .account-li .code_inp:nth-child(2){
    font-size: 1.4rem;
    color: #4995EF;
    text-align: right;
}
.account-content .account-group .account-li .font-color{
    color: #000;
}
.account-content .account-group .account-li input::-webkit-input-placeholder{
    font-size: 1.5rem;
    color: #C1C1C1;
}
.account-content .account-group .account-li input::-moz-placeholder{
    font-size: 1.5rem;
    color: #C1C1C1;
}
.account-content .account-group .account-li input:-ms-input-placeholder{
    font-size: 1.5rem;
    color: #C1C1C1;
}
#change-color{
    color: #BEBEBE;
}

/**/
.info-tips{
    font-size: 1.2rem;
    color: #AAAAAA;
    margin: 0;
    padding-top: 1rem;
}