body{
    background: #4995EF;
}
.swept-content{
    width: 95%;
    background: #fff;
    margin: 2.5rem auto;
    padding-top: 2rem;
    border-radius: .4rem;
    position: relative;
}
/*.swept-content .swept-barcode{*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 2rem;*/
    /*left: 12.5%;*/
    /*width: 95%;*/
    /*height: 10rem;*/
    /*margin: 0 auto;*/
    /*padding: 2rem;*/
/*}*/
/*@media screen and (max-width:320px){.swept-content .swept-barcode{overflow: hidden;position: absolute;top: 2rem;left: 5%;}}*/
/*@media screen and (min-width:321px) and (max-width:375px){.swept-content .swept-barcode{overflow: hidden;position: absolute;top: 2rem;left: 12.5%;}}*/
/*@media screen and (min-width:376px) and (max-width:414px){.swept-content .swept-barcode{overflow: hidden;position: absolute;top: 2rem;left: 17%;}}*/
/*@media screen and (min-width:800px){.swept-content .swept-barcode{overflow: hidden;position: absolute;top: 2rem;left: 36%;}}*/
.swept-content .swept-QRcode{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 1.5rem auto;

}
.swept-content .swept-QRcode>table{
    width: 100%;
    height: 100%;
}
.swept-content .swept-QRcode .QRcode-img{
    width: 100%;
    height: 100%;
}
.swept-content .swept-QRcode .pay-logo{
    position: absolute;
    top: 40%;
    width: 5rem;
    height: auto;
    left: 35%;
    z-index: 999;
}
.swept-barcode label{
    display: none;
}

.swept-content .swept-update{
    text-align: center;
    white-space:nowrap;
}
.swept-content .swept-update img{
    width: 2rem;
    height: 2rem;
}
.swept-content .swept-update p{
    font-size: 1.2rem;
    color: #666666;
    display: inline-block;
}
.swept-content .swept-number{
    text-align: center;
    font-size: 1.4rem;
    color: #666666;
    padding: 1.5rem 0;
    background: #f3f3f3;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}
.swept-scan img{
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    display: block;
}
.page-bottom{
    color: #fff;
}
.page-bottom .col-xs-3 {
    border-top: 1px solid #fff;
}
/*密码弹框*/
.css-money .css-money-top{
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 1.6rem;
    color: #4995EF;
}
.css-money .css-money-top img{
    width: 2.4rem;
    height: 2.4rem;
}
.css-money .css-money-top span{
    margin-left: .5rem;
}
.css-money p{
    font-family: ArialMT;
    font-size: 3.4rem;
    color: #333333;
    text-align: center;
}

#bcTarget{
    margin: 0 auto;
}