.container{
    margin-top: 4rem;
}
.order-list{
    font-size: 1.8rem;
    color: #333;
    background: #fff;

}
.order-list .order-title{
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 1px solid #E5E5E5;
}
.order-title .right-img{
    padding-top: 2rem;
}
.order-title .right-img img{
    width: 2.2rem;
    float: right;
}
.order-content{
    background: #fff;
    display: none;
}
.order-content .order-li{
    overflow: hidden;
    padding: .4rem 0;
    font-size: 1.6rem;
    color: #666;
}
.order-li li{
    line-height: 4rem;
}
.order-li li>img{
    width: 4rem;
    height: 4rem;
}
.rotate{

    transform-origin:center center;

    transform: rotate(180deg);

    -webkit-transform: rotate(180deg);

    -moz-transform: rotate(180deg);

    -ms-transform: rotate(180deg);

    -o-transform: rotate(180deg);

    transition: transform 0.2s; //过度时间 可调

-moz-transition: -moz-transform 0.2s;

    -moz-transition: -moz-transform 0.2s;

    -o-transition: -o-transform 0.2s;

    -ms-transition: -ms-transform 0.2s;

}

.rotate1{

    transform-origin:center center;

    transform: rotate(0deg);

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -ms-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transition: transform 0.2s;

    -moz-transition: -moz-transform 0.2s;

    -moz-transition: -moz-transform 0.2s;

    -o-transition: -o-transform 0.2s;

    -ms-transition: -ms-transform 0.2s;

}