.container{
    margin-top: 4rem;
    /*2018.3.1*/
    margin-bottom: 5rem;
}
.order-list{
    font-size: 1.8rem;
    color: #333;
    background: #fff;

}
.order-list .order-title{
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 1px solid #E5E5E5;
}
/*2018.3.1修改-----start*/
.order-title ul{
    padding-right: 0;
}
@media screen and (max-width:320px){
    .order-title ul{
        font-size: 1.5rem;
    }
}
.order-title ul span{
    color: #666;
}
.order-title .statusColor{
    color: #ff5614;
}
/*2018.3.1修改-----end*/
.order-title .right-img{
    padding-top: 2rem;
}
.order-title .right-img img{
    width: 2.2rem;
    float: right;
}
.order-content{
    background: #fff;
    display: none;
}
.order-content .order-li{
    overflow: hidden;
    padding: .4rem 0;
    font-size: 1.6rem;
    color: #666;
    /*2018.3.1*/
    text-align: center;
}
.order-li li{
    line-height: 4rem;
}
/*2018.3.1修改*/
.order-li li:nth-child(2){
    padding: 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.order-li li>img{
    width: 4rem;
    height: 4rem;
}
.rotate{

    transform-origin:center center;

    transform: rotate(180deg);

    -webkit-transform: rotate(180deg);

    -moz-transform: rotate(180deg);

    -ms-transform: rotate(180deg);

    -o-transform: rotate(180deg);

    transition: transform 0.2s; //过度时间 可调

-moz-transition: -moz-transform 0.2s;

    -moz-transition: -moz-transform 0.2s;

    -o-transition: -o-transform 0.2s;

    -ms-transition: -ms-transform 0.2s;

}

.rotate1{

    transform-origin:center center;

    transform: rotate(0deg);

    -webkit-transform: rotate(0deg);

    -moz-transform: rotate(0deg);

    -ms-transform: rotate(0deg);

    -o-transform: rotate(0deg);

    transition: transform 0.2s;

    -moz-transition: -moz-transform 0.2s;

    -moz-transition: -moz-transform 0.2s;

    -o-transition: -o-transform 0.2s;

    -ms-transition: -ms-transform 0.2s;

}